extends layout

block content
  h1= title
  img(src="https://lh3.googleusercontent.com/pFSdCfKsllI1iNTSEEGZL99fBk7xYQYWBAwC_bu7h8RxVrwWtIF4UGTshL2OjlFcztu0czIAOCA=w640-h400-e365")

  ul
    li
      a(href='/') home
